.heading {
  font-family: Manrope-ExtraBold;
  font-size: 50px;
  padding: 100px 0 50px;
  text-align: center;
}
.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 10px;
  gap: 76.06px;
}

/* .blog-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 76.06px;
} */

/* .blog-card-container {
  max-width: 389px;
  min-width: 200px;
  width: 100%;
  height: 555px;
  border-top: 1px solid black;
  border-left: 1px solid black ;
  border-right:  1px solid black;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
    display: inline-block;
} */

/* .blog-card-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 62%; 
  height: 60%; 
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 15px;
} */

.blog-card-container {
  position: relative;
  display: inline-block;
  max-width: 389px;
  min-width: 200px;
  width: 100%;
  height: 555px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blog-card-container::after {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: 0;
  /* max-width: 243px;
  min-width: 30px;
  width: 100%; */
  /* width: 50%; */
  transform: translateX(0%);
  width: calc(100% - 137px);
  height: 1px;
  border-bottom: 1px solid #000;
}

.blog-card-container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 92%;
  width: 0px;
  border-right: 1px solid #000;
}

.read-more-container {
  position: absolute;
  bottom: 8px;
  right: -1px;
}

.read-more {
  text-decoration: none;
  font-family: Manrope-Regular;
  font-size: 16px;
  color: #000000;
  background-color: transparent;
  padding: 9px 20px;
  border: 1px solid #000000;
  border-top-color: #000000;
  border-left-color: #000000;
  border-bottom-style: none;
  border-right-style: none;
  /* border-bottom-color: #ffffff; */
  /* border-right-color: #ffffff; */
  /* border-radius: 5px; */
  border-top-left-radius: 15px;
  transition: background-color 0.3s ease;
}

/* .read-more:hover {
    background-color: #f0f0f0;
} */

.blog-img-container {
  padding: 5px 5px 0 5px;
}

.blog-img {
  max-width: 379px;
  min-width: 200px;
  width: 100%;
  height: 290px;
}

.blog-content {
  /* padding: 20px; */
  /* max-width: 353px;
    min-width: 200px; */
  padding: 20px 18px 0px;
  height: 195px;
}

.date {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 24.59px; */
}

.blog-card-title {
  font-family: Manrope-SemiBold;
  font-size: 17.4px;
  line-height: 25px;
  text-align: justify;
  padding: 10px 0;
}

.blog-card-text {
  font-family: Manrope-Regular;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.5);
}
.blog-img-logo {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  max-width: 379px;
  min-width: 200px;
  width: 100%;
  height: 290px;
}

.destination-flex-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}
@media screen and (max-width: 1024px) {
  .destination-flex-blog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 153px;
  }
}

@media (max-width: 1375px) {
  .blog-card-container {
    height: 585px;
  }
}

@media (max-width: 1320px) {
  .blog-card-container {
    height: 625px;
  }
}
@media (max-width: 1024px) {
  /* .blog-card-container {

    padding: 0 30px;
    } */
  .blog-card-container {
    height: 585px;
  }
  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: 18px;
  }
  .heading {
    font-family: Manrope-ExtraBold;
    font-size: 30px;
    padding: 50px 0 30px;
}
.blog-card-title {
  font-size: 18px;
}
.blog-card-text {
  /* line-height: unset; */
}
}
@media (max-width: 767px) {
  .blog-all-padding {
    padding: 0 10px;
  }
  /* .blog-card-container {
          flex-wrap: wrap ;
      } */
  .blog-card-container {
    height: 609px;
  }
  .blog-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 30px;
  }
  .blog-card-text {
    font-size: 16px;
  }
  .all-padding {
    padding: 0 10px;
  }
}
