/* .a {
    border: 1px solid black;
} */

.date-social {
  font-family: Manrope-ExtraBold;
  font-size: 18px;
  /* line-height: 24.59px; */
  text-align: left;
  padding-top: 100px;
}

.socal-img-top {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  padding: 30px 0;
}

.blog-social-title {
  font-family: Manrope-ExtraBold;
  font-size: 45px;
  /* line-height: 60px; */
  padding: 0 0 2px;
  text-align: left;
}

.boost-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
  padding: 2px 0 15px;
}

.power-title {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  padding: 0 0 2px;
}

.power-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
}

.img-ul-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 7px 0 15px;
  gap: 15px;
}
.img-ul {
  max-width: 503px;
  min-width: 200px;
  width: 100%;
}
.ol {
}

.ul-title {
  font-family: Manrope-SemiBold;
  font-size: 22px;
  line-height: 30px;
}

.ul-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
  padding: 2px 0 7px;
}

.tips-main-title {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  padding: 0 0 7px;
}

.tips-title {
  font-family: Manrope-SemiBold;
  font-size: 22px;
  line-height: 30px;
}

.tips-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
  padding: 2px 0 7px;
}

.tips-desc-bottom {
  font-family: Manrope-Regular;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  padding: 1px 0 15px;
}

.partner-title {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  /* padding: 0 0 2px; */
}

.partner-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.partner-ul {
  padding: 0 0 0 30px;
}

.partner-content {
  padding: 2px 0 7px;
}

.li {
  text-align: justify;
  padding: 0 0 5px;
}

.partner-point {
  font-family: Manrope-Medium;
  font-size: 22px;
  line-height: 30px;
}

.partner-point-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.conclusion-title {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  padding: 15px 0 2px 0;
}
.conclusion-desc {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
}
.img-of-ul {
  max-width: 503px;
  min-width: 200px;
  width: 100%;
  border-radius: 10px;
  height: 503px;
  object-fit: cover;
}
.points {
  /* max-width: 676px;
  min-width: 200px;
  width: 100%; */
  /* height: 575px; */
}

@media (max-width: 1024px) {
  .img-of-ul {
    max-width: 708px;
    min-width: 200px;
    width: 100%;
  }
  .img-ul-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    padding: 7px 0 7px;
  }
  .points {
    max-width: unset;
    min-width: unset;
  }
  .top-content-container {
    padding: 0 30px;
  }
  .bottom-content-container {
    padding: 0 30px;
  }
  .blog-social-title {
    font-size: 30px;
    line-height: unset;
  }
  .date-social {
    padding-top: 50px;
  }
  .socal-img-top {
    padding: 15px 0 30px;
  }
  .conclusion-title {
    font-family: Manrope-Bold;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0 2px 0;
  }
}

@media (max-width: 767px) {
  .blog-social-title {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
  .top-content-container {
    padding: unset;
  }
  .bottom-content-container {
    padding: unset;
  }
  .boost-desc {
    font-size: 16px;
    line-height: unset;
  }
  .socal-img-top {
    padding: 15px 0;
    object-fit: cover;
  }
  .boost-desc {
    padding: 0 0 15px;
  }
  .img-ul-content {
    padding: 7px 0;
    gap: 7px;
  }
  .tips-title {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
  .tips-main-title {
    text-align: justify;
    font-size: 18px;
    line-height: unset;
  }
  .partner-title {
    text-align: left;
    font-size: 18px;
  }
  .img-of-ul {
    object-fit: cover;
  }
  .date-social {
    font-size: 16px;
  }
  .power-title{
    font-size: 18px;
    line-height: unset;
  }
  .power-desc{
    font-size: 16px;
  }
  .ul-title {
    font-size: 16px;
    line-height: 21px;
}
.ul-desc {
  font-size: 16px;
}
.tips-desc {
  font-size: 16px;
}
.tips-desc-bottom {
  font-size: 16px;
  line-height: unset;
}
.partner-desc {
line-height: unset;
  font-size: 16px;
  text-align: justify;
}
.partner-point {
  font-size: 16px;
}
.partner-point-desc {
  font-size: 16px;
  line-height: unset;
}
.conclusion-title {
  font-size: 18px;
  line-height: unset;
}
.conclusion-desc {
  font-size: 16px;
}
}
