.Promotes {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 7px;
  text-align: justify;
}
.Personalized {
  font-size: 22px;
  font-family: Manrope-SemiBold;


  /* line-height: 30px; */
  /* padding-bottom: 5px; */
}
.appealing {
  padding: 2px 0 7px 0;
  font-size: 18px;
  font-family: Manrope-Regular;
  /* line-height: 30px; */
  text-align: justify;
}
.appealings {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  padding: 2px 0 0 0;
}
.Simple-clean {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  text-align: center;
  padding: 25px 0;
}
.Standard {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  text-align: center;
  padding: 40px 0;
}
.revisions {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  text-align: center;
  max-width: 218px;
  min-width: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.images-post {
  text-align: center;
  font-size: 18px;
  font-family: Manrope-Regular;
  padding: 40px 0;
}
.choice-post {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  max-width: 209px;
  min-width: 100px;
  width: 100%;
  margin: 0 auto;
}
.custom-post {
  max-width: 261px;
  min-width: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  text-align: center;
}
.basic-div {
  /* height: 110px; */
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid gray; */
}
.clean-s {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 20px;
  text-align: center;
  padding: 10px;
}

.side-padding{
  padding: 0 0 0 25px;
}

.products-brochure{
 
    font-family: Manrope-Regular;
    font-size: 18px;
    /* line-height: 30px; */
    /* padding-bottom: 7px; */
    text-align: justify;
    padding: 2px 0 15px 0;

}

/* Responsive  */

@media screen and (max-width: 1024px) {
  .Personalized {
    text-align: justify;
  }
  
  .mark-padding{
    padding: 0 18px;
    text-align: left;
  }
}
@media screen and (max-width: 767px){
    .Promotes{
        font-size: 18px;
    }
    .Personalized{
        font-size: 16px;
        text-align: justify;
    }
    .mark-padding{
      padding: 0;
      text-align: left;
    }
    .brand-padding{
      padding: 50px 0 15px 0;
    }
    .appealing{
        font-size: 16px;
        text-align: justify;
    }
    .appealings{
        font-size: 16px;
        text-align: justify;
    }
    .clean-s{
        font-size: 16px;
        text-align: center;
        line-height: initial;
    }
} 