.client-text {
  text-align: center;
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 22px;
}

.logo-card-container {
  gap: 30.6px;
  text-align: center;
}

.logo-card-container::-webkit-scrollbar {
  display: none;
}

.logo-card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 319px;
  min-width: 200px;
  width: 100%;
  gap: 0px;
  border-radius: 10px;
  border: 1px solid #fff;
  opacity: 1;
  margin: 0 15px;
}

.client-logo {
  /* max-width:254px;
    min-width:100px; */
  /* width: 100%;
    height: 185px; */
  width: 250px;
  height: 240px;
  object-fit: contain;
}

.services-design-graphic {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
}

.design-services {
  display: flex;
  gap: 49px;
  align-items: center;
}

.design-img-bg {
  max-width: 507px;
  min-width: 200px;
  width: 100%;
  height: 482px;
  border-radius: 10px;
  background-color: #2e68bc;
  position: relative;
}

.design-emoji-top {
  max-width: 507px;
  min-width: 200px;
  height: auto;
  object-fit: contain;
}
.design-emoji-bottom {
  height: auto;
}
.design-content {
  max-width: 764px;
  min-width: 200px;
  width: 100%;
}
.heading-design {
  font-family: Manrope-ExtraBold;
  font-size: 45px;
  line-height: 55px;
}
.heading-graphic {
  font-family: Manrope-ExtraBold;
  font-size: 45px;
  line-height: 55px;
}
.design-title {
  /* line-height: 60px; */
  text-align: left;
}

.design-description {
  padding: 15px 0 5px;
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
}

.li-text {
  padding-left: 20px;
}

.li-text li {
  font-family: Manrope-SemiBold;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 10px;
}
.graphic-services {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 49px;
  padding-top: 100px;
}

.graphic-img-bg {
  width: 507px;

  height: 482px;
  border-radius: 10px;
  background-color: #464177;
  position: relative;
}

.graphic-emoji {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-img-container {
  max-width: 507px;
  min-width: 200px;
  width: 100%;
}

.logo-height {
  width: 100% !important;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.client-logo-utpal {
  width: 250px;
  height: 240px;
}
.space {
  padding: 0 0 5px;
}
@media (max-width: 1024px) {
  .logo-card-container {
    gap: 14.6px;

    align-items: center;
  }

  .design-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    gap: 49px;
  }
  .graphic-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 25px;
    padding-top: 50px;
  }
  .design-content {
    order: 1;
    max-width: unset;
    min-width: unset;
  }
  .img-one {
    order: 2;
  }
  .services-design-graphic {
    padding-top: 50px;
  }
  .design-emoji {
    height: 539px;
  }
  .heading-design {
    font-size: 30px;
    line-height: 40px;
    text-align: justify;
  }
  .design-services {
    gap: 30px;
  }
  .heading-graphic {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
  }
  .design-title {
    line-height: unset;
    text-align: left;
  }
  .client-text {
    padding-bottom: 22px;
    font-size: 22px;
    text-align: left;
  }
  .li-text li {
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .client-text {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .heading-design {
    font-size: 20px;
    line-height: 27.32px;
    text-align: justify;
}
.design-services {
  gap: 5px !important;
}
.design-description {
  line-height: 21px !important;
}
.heading-graphic {
  line-height: 25px !important;
}
.graphic-services {
  gap: 10px !important;
}

}

@media (max-width: 530px) {
  .design-emoji-top {
    height: auto;
    width: 100%;
  }
  .design-emoji-bottom {
    width: 100%;
  }
}
