.nav-bar-img{
    background-image: url(../images/navcut.png);
    background-repeat: no-repeat;
    background-position: right top;

}
.footer-top-img{
    background-image: url(../images/bottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media (max-width:1550px){
    .nav-bar-img{
        background-image: none;
    }
    .footer-top-img{
        background-image: none;
    }
}