.nav-bar-img{
    background-image: url(../images/navcut.png);
    background-repeat: no-repeat;
    background-position: right top;

}
.footer-top-img{
    background-image: url(../images/bottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}