@font-face {
    font-family: Manrope-Light;
    src: url("../Manrope/static/Manrope-Light.ttf");
    /* 300 */
}

@font-face {
    font-family: Manrope-Regular;
    src: url("../Manrope//static/Manrope-Regular.ttf");
    /* 400 */
}

@font-face {
    font-family: Manrope-Medium;
    src: url("../Manrope//static/Manrope-Medium.ttf");
    /* 500 */
}

@font-face {
    font-family: Manrope-SemiBold;
    src: url("../Manrope/static/Manrope-SemiBold.ttf");
    /* 600 */
}

@font-face {
    font-family: Manrope-Bold;
    src: url('../Manrope/static/Manrope-Bold.ttf');
    /* 700 */
}
@font-face {
  font-family: Manrope-ExtraBold;
  src: url("../Manrope/static/Manrope-ExtraBold.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .footer-bg-img{
  background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-position: right calc(100% - 600px) ;
}

.footer-bg{
    width: 100%;
    background-color: #170521;
    margin-top: 100px;
}

.footer-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 50px 0;
}
  
  .footer-logo{
    width: 160px;
    height: 64px;
  }
  
  .footer-links {
    display: flex;
  }
  
  .link-tab {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link-tab li {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-family:Manrope-Bold;
  }
  .footer-social-icons{
    color: #fff;
    display: flex;
    gap: 25.54px;
  }
  .wp{
    width: 16px;
    height: 16px;
  }
  
  .copy-right {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    line-height: 24px;
    font-family:Manrope-Bold;
  }
  .white-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  
   */

   .footer-bg {
    width: 100%;
    background-color: #170521;
    margin-top: 100px;
    position: relative;
}

.footer-bg-img {
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-position: right topcalc(100% - 600px);
    background-size: contain;
}

.footer-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px 0;
}

.footer-logo {
    width: 160px;
    height: 64px;
}

.footer-links {
    display: flex;
}

.link-tab {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-tab li {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-family: Manrope-Bold;
}

.footer-social-icons {
    color: #fff;
    display: flex;
    gap: 25.54px;
}

.wp {
    width: 16px;
    height: 16px;
}

.copy-right {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    line-height: 24px;
    font-family: Manrope-Bold;
}

.white-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
}