@font-face {
    font-family: Manrope-Light;
    src: url("../Manrope/static/Manrope-Light.ttf");
    /* 300 */
}

@font-face {
    font-family: Manrope-Regular;
    src: url("../Manrope//static/Manrope-Regular.ttf");
    /* 400 */
}

@font-face {
    font-family: Manrope-Medium;
    src: url("../Manrope//static/Manrope-Medium.ttf");
    /* 500 */
}

@font-face {
    font-family: Manrope-SemiBold;
    src: url("../Manrope/static/Manrope-SemiBold.ttf");
    /* 600 */
}

@font-face {
    font-family: Manrope-Bold;
    src: url('../Manrope/static/Manrope-Bold.ttf');
    /* 700 */
}
@font-face {
  font-family: Manrope-ExtraBold;
  src: url("../Manrope/static/Manrope-ExtraBold.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-bg {
  width: 100%;
  background-color: #170521;
  margin-top: 100px;
  position: relative;
}

.footer-bg-img {
  background-image: url(../images/Vector.png);
  background-repeat: no-repeat;
  background-position: right topcalc(100% - 600px);
  background-size: contain;
}

.footer-container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.footer-content {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 50px 0; */
  display: flex;
  
    align-items: center;
    justify-content: space-between;
    /* gap: 60px; */
    padding: 50px 0;
    max-width: 962px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.footer-logo {
  width: 160px;
  height: 64px;
}

.footer-links {
  display: flex;
}

.link-tab {
  /* display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0; */
  display: flex;
    /* gap: 50px; */
    list-style: none;
    /* padding: 0; */
    /* margin: 0; */
    max-width: 584px;
    min-width: 200px;
    width: 100%;
    /* border: 1px solid white; */
    justify-content: space-between;
}

.link-tab li {
  position: relative;
}

.link-tab li a {
  color: #fff; /* Inherit color from parent li */
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: Manrope-Bold;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
}

.link-tab li a:hover, .link-tab li a.active {
  color: #fff; /* Highlight the active link in red */
}

.link-tab li a::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color: #fff; /* Line color */
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: bottom right;
}

.link-tab li a:hover::after, .link-tab li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-social-icons {
  color: #fff;
  display: flex;
  gap: 25.54px;
}
.footer-social-icons svg {
  font-size: 20px; /* Adjust the size of the icons */
}
.wp {
  width: 16px;
  height: 16px;
}

.copy-right {
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px;
  font-family: Manrope-Bold;
}

.white-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}


   /* .footer-bg {
    width: 100%;
    background-color: #170521;
    margin-top: 100px;
    position: relative;
}

.footer-bg-img {
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-position: right topcalc(100% - 600px);
    background-size: contain;
}

.footer-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px 0;
}

.footer-logo {
    width: 160px;
    height: 64px;
}

.footer-links {
    display: flex;
}

.link-tab {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-tab li {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    font-family: Manrope-Bold;
}

.footer-social-icons {
    color: #fff;
    display: flex;
    gap: 25.54px;
}

.wp {
    width: 16px;
    height: 16px;
}

.copy-right {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    line-height: 24px;
    font-family: Manrope-Bold;
}

.white-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
} */
@media screen and  (max-width:1024px){
  .footer-content {
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 50px 0;
    max-width: 962px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
      padding-bottom: 100px;
    }
}