.plan-container {
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  gap: 13px;
  overflow-x: scroll;
}
.plan-container::-webkit-scrollbar {
  display: none;
}
.logo-plan {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logi-idia {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 20px;
  text-align: center;
  padding: 10px;
}
.logo-Duration {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 21px; */
}
.Design-Duration {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Payment-Duration {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notion-circle {
  text-align: center;
  padding: 2px 0;
}
.mobilelogo {
  display: none;
}
.side-padding{
  padding: 0 0 0 25px;
}

@media screen and (max-width: 1024px) {
  .notion-circle {
    padding: 13px 0px;
  }

}

@media screen and (max-width: 767px) {
  .mobilelogo {
    display: unset;
    max-width: 260px;
    min-width: 200px;
    width: 100%;
  }
  .notion-circle {
    padding: 7px 0px;
}
  .pclogo {
    display: none;
  }
  .logi-idia{
    font-size: 16px;
  }
}

/* .destination-flex-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}
.destination-right-about {
  max-width: 670px;
  min-width: 200px;
  width: 100%;
}
.Graphic-about {
  font-size: 48px;
  line-height: 55px;
  font-family: Manrope-ExtraBold;
}
.care-about {
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  font-family: Manrope-Bold;
  padding: 10px 0 0 0;
  max-width: 556px;
  min-width: 200px;
  width: 100%;
  text-align: left;
}
.service-padding-about{
  padding: 5px 0;
}

@media screen and (max-width: 1024px) {
  .destination-right-about {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
  .destination-flex-logodesign {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }
  .Graphic-about {
    padding: 30px 0 0;
    font-size: 30px;
    line-height: 40px;
    /* text-align: justify; 
    text-align: left;
  }
  .home {
    padding-bottom: 30px;
  }
  .care-about {
    line-height: unset;
  } */
 


@media screen and (max-width: 768px) {
  .Graphic-about {
    padding: 30px 0 0;
    font-size: 20px;
    line-height: 27px;
  }
  .care-about {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 20px 0;
    
  }
  .destination-flex-service {
    gap: 30px;
  }
}



