@font-face {
  font-family: Manrope-Light;
  src: url("../Manrope/static/Manrope-Light.ttf");
  /* 300 */
}

@font-face {
  font-family: Manrope-Regular;
  src: url("../Manrope/static/Manrope-Regular.ttf");
  /* 400 */
}

@font-face {
  font-family: Manrope-Medium;
  src: url("../Manrope/static/Manrope-Medium.ttf");
  /* 500 */
}

@font-face {
  font-family: Manrope-SemiBold;
  src: url("../Manrope/static/Manrope-SemiBold.ttf");
  /* 600 */
}

@font-face {
  font-family: Manrope-Bold;
  src: url('../Manrope/static/Manrope-Bold.ttf');
  /* 700 */
}

@font-face {
font-family: Manrope-ExtraBold;
src: url("../Manrope/static/Manrope-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-width {
width: 100%;
}

.bg-img {
background-repeat: no-repeat;
background-position: right;
}

.under-1320 {
max-width: 1380px;
min-width: 200px;
margin: 0 auto;
}

.all-padding {
padding: 0 30px;
}

.search-bar {
position: relative;
}

.search-results {
position: absolute;
top: 100%;
left: 0;
right: 0;
border-top: none;
max-height: 200px;
overflow-y: auto;
z-index: 1000;
list-style: none;
margin: 0;
padding: 0;
}

.search-results li:hover {
background-color: #f1f1f1;
}

.search-results li {
padding: 8px;
cursor: pointer;
text-decoration: none;
color: black;
}

.search-results li:hover {
background-color: #f2faff;
color: black;
}

.search-results li.selected {
background-color: #f2faff;
color: black;
}

.navs-main-icon {
display: none;
}

.navs-d-flex {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 10px;
}

.navs-icon img {
width: 34px;
cursor: pointer;
}

.bg {
}

.main-widths {
width: 100%;
position: sticky;
top: 0;
z-index: 1010;
}

.under1320width {
max-width: 1380px;
min-width: 250px;
margin: 0 auto;
}

.d-flex {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 10px;
}

.under-nav-flex {
display: flex;
gap: 40px;
}

.under-d-flex {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 10px;
}

.social-icon img {
width: 20px;
height: 20px;
cursor: pointer;
}

.infoexamplemail a {
font-family: Roboto-Regular;
font-weight: 400;
font-size: 14px;
line-height: 35px;
align-items: center;
color: black;
text-decoration: none;
}

nav {
margin: 0;
padding: 0;
position: -webkit-sticky;
position: sticky;
top: 0;
background: #FDEDE7;

}

.nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 0px;
}

.nav2 {
border-top-color: black;
border-top-width: 1px;
border-top-style: solid;
border-bottom-color: black;
border-bottom-width: 1px;
border-bottom-style: solid;
z-index: 1;
}

.desi-logo {
width: 140px;
height: 58px;
}

.under {
color: black;
position: relative;
text-decoration: none;
transition: color 0.3s ease;
}

.under::after {
content: '';
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 2px;
background-color: black;
transition: width 0.3s ease;
}

.under:hover {
color: black;
}

.under:hover::after {
width: 100%;
}

.menu-icon {
height: 30px;
width: 30px;
}

#navbar {
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}

#navbar li {
list-style: none;
position: relative;
}

#navbar li a {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
justify-content: center;
padding-bottom: 4px; /* Added for line animation */
transition: color 0.3s, border-bottom 0.3s; /* Added for line animation */
}

#navbar li a::after {
content: '';
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px; /* Thickness of the line */
background-color: black; /* Line color */
transform: scaleX(0);
transition: transform 0.3s;
transform-origin: bottom right;
}

#navbar li a:hover::after, #navbar li a.active::after {
transform: scaleX(1);
transform-origin: bottom left;
}

#mobile {
display: none;
}

#mobile i {
color: black;
align-items: center;
}

.social-icon ul {
list-style: none;
display: flex;
}

#navbar .do {
  font-family: Manrope-Bold;


font-weight: 700;
font-size: 18px;
line-height: 35px;
align-items: center;
}

@media screen and (max-width: 1024px) {
.navs-main-icon {
  display: unset; 
}
.desi-logo {
  width: 120px;
  height: 50px;
}
.menu-icon {
  height: 18px;
  width: 18px;
  }
.navs-d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px 0 0 15px;
}

.navs-icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.screen-tablet-hidden {
  display: none;
}

.under-nav-flex {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.search-bar {
  padding: 20px 15px 0 15px;
}

#navbar {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: flex-end;
  position: fixed;
  top: 75.5px;
  right: -300px;
  width: 300px;
  max-height: 1500px;
  min-height: 300px;
  height: 100vh;
  background: #FDEDE7;

  padding: 0px 0 0 0px;
  transition: 0.3s ease-in-out;
}

#navbar .do {
  padding-top: 0px;
}

#navbar.active {
  right: 0px;
}

#navbar li {
  list-style: none;
  padding: 0px 15px;
  position: relative;
  text-align: left;
}

#mobile {
  display: block;
}

#mobile i {
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.all-padding {
  padding: 0 20px;
}
}

@media screen and (max-width: 768px) {
.all-padding {
  padding: 0 10px;
}
}

@media screen and (max-width: 600px) {
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.under-nav-flex {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: flex-end;
  position: fixed;
  top: 75.5px;
  right: -300px;
  width: 250px;
  height: 100vh;
  background: #FDEDE7;

  padding: 0px 0 0 0px;
  transition: 0.3s ease-in-out;
  
}

.desi-logo {
  width: 120px;
}
}

.search-bar {
box-sizing: border-box;
width: fit-content;
}

.mainbox {
box-sizing: border-box;
position: relative;
width: 230px;
}


