.provide-card-container {
  display: grid;
      grid-template-columns: repeat(3, 1fr); 
  gap: 60px;
  justify-items: center;
}

/* .provider-card {
  --angle: 117.38deg;
  position: relative;
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  height: 291px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: white;
  border-radius: 30px;
  border: 1.3px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(var(--angle), #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%) border-box;
  text-decoration: none;
  transition: all 1s;
  box-sizing: border-box;
  z-index: 0;
}

.provider-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 1.3px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(var( 117deg), #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%) border-box;
  z-index: -1;
  transition: all 1s;
}

.btn-style700 {
  --angle: 117.38deg;
  position: relative;
  border-radius: 30px;
  border: 1.3px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(var(--angle), #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%) border-box;
  &::before,
  &::after {
    --angle: 60.38deg;
    position: absolute;
    top: 0;
    left: 0;
    border: 1.3px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(var(--angle), #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%) border-box;
    border-style: solid;
    transition: all 1s;
    content: "";
    z-index: -1;
    border-radius: 30px;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    border-radius: 30px;
  }
  &:hover {
    border: 1.3px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(var(--angle), #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%) border-box;
    &::before {
      width: 100%;
      border-width: 1px 0 1px 0;
    }
    &::after {
      height: 100%;
      border-width: 0 1px 0 1px;
      border-radius: 30px;
    }
  }
} */

.radius {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background: white;
}
/* .provider-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    border-radius: 30px; 
    padding: 2px; 
    background: linear-gradient(117.38deg, #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
    z-index: 1;
    opacity: 1; 
}

.provider-card:hover::before {
    background: linear-gradient(50.38deg, #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
    opacity: 1; 
    transition: ease-in-out 7s;
} */

.provider-card-desc {
  max-width: 336px;
  min-height: 200px;
  width: 100%;
  height: 146px;
  padding: 30px 0 25px;
}

.card-title {
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 35px;
}

.text-provide {
  font-family: Manrope-Regular;
  font-size: 18px;
  line-height: 26px;
  padding-top: 10px;
}

.learn-more {
  display: inline-flex;
  align-items: center;
  font-family: Manrope-SemiBold;
  font-size: 18px;
  line-height: 24px;
  padding-top: 25px;
  cursor: pointer;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
}

/* .provide-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.provider-card {
    position: relative;
    width: 400px;
    height: 291px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: white;
    border-radius: 30px;
}

.radius {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: white;
}

.provider-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(117.38deg, #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 1;
    transition: background 10s ease; 
}

.provider-card:hover::before {
    background: linear-gradient(50.38deg, #FFFFFF 7.8%, #000000 26.29%, #000000 73.69%, #FFFFFF 93.13%);
}

.provider-card-desc {
    width: 336px;
    height: 146px;
    padding: 30px 0 25px;
}

.card-title {
    font-family: Manrope-Bold;
    font-size: 25px;
    line-height: 35px;
}

.text-provide {
    font-family: Manrope-Regular;
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
}

.learn-more {
    display: inline-flex;
    align-items: center;
    font-family: Manrope-SemiBold;
    font-size: 18px;
    line-height: 24px;
    padding-top: 25px;
    cursor: pointer;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
} */

@media screen and (max-width:1024px){
  .provide-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.heading{
  padding: 50px 0 30px !important;
}
}

@media screen and (max-width: 768px) {
  .provide-card-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
}