.banner {
  padding: 10px 0;
}
.side-padding{
  padding: 0 0 0 25px;
}
.box-p{
  padding-top: 7px;
}
.responsive{
  display: none;
}
.service-flex {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.services {
  max-width: 257px;
  min-width: 200px;
  width: 100%;
  border: 1px solid black;
  height: 245px;
  border-radius: 20px;
  position: sticky;
  top: 84px;
}
.social-media {
  max-width: 970px;
  min-width: 200px;
  width: 100%;
  /* height: 835px; */
  /* border: 1px solid #000000; */
}
.our-services {
  color: black;
  font-family: Manrope-Bold;
  font-size: 25px;
  text-align: center;
  padding: 15px 0;
  line-height: 30px;
}
.service-top-padding {
  padding: 100px 0 0 0;
}
.social-div {
  font-size: 18px;
  line-height: 35px;
  font-family: Manrope-Medium;
  padding: 0px 0 15px 20px;
}
.div-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.marketing-social {
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  /* height: fit-content; */
  border: 1px solid #000000;
  border-radius: 20px;
}
.ours-services {
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 20px;
}
.s-marketing {
  font-family: Manrope-ExtraBold;
  font-size: 45px;
  /* line-height: 30px; */
}
.Promote {
  font-family: Manrope-Bold;
  font-size: 25px;
  /* line-height: 30px; */
  padding: 15px 0 0 0;
}
.media-marketing {
  font-family: Manrope-SemiBold;

  font-size: 22px;
  /* line-height: 30px; */
  padding: 7px 0 2px 0;
}
.products {
  font-family: Manrope-Regular;
  font-size: 18px;
  /* line-height: 30px; */
  padding-top: 2px;
  text-align: justify;
}
.media-social {
  text-align: left;
  font-family: Manrope-Medium;
  font-size: 22px;
  line-height: 30px;
   padding: 15px 0 15px 25px;;
}
.boost {
  font-family: Manrope-Regular;
  font-size: 18px;
  text-align: justify;
  padding: 10px 0 10px 25px;
}
.strategy {
  font-family: Manrope-Regular;
  font-size: 18px;
  text-align: justify;
  padding: 10px 0 10px 25px;
}
.adjustments {
  font-size: 18px;
  font-family: Manrope-Regular;
  /* line-height: 30px; */
  text-align: justify;
  padding: 7px 0 0px 0;
}
.choose-us {
  font-size: 45px;
  /* line-height: 30px; */
  font-family: Manrope-ExtraBold;
  padding: 30px 0 5px 0;
}
.Pricing{
  font-size: 45px;
  /* line-height: 30px; */
  font-family: Manrope-ExtraBold;
  padding: 30px 0 5px 0;
}
.dynamic {
  font-size: 18px;
  /* line-height: 30px; */
  font-family: Manrope-Regular;
  text-align: justify;
  padding: 0;
}
.plans-container {
  max-width: 970px;
  min-width: 200px;
  width: 100%;
}
.basic-plans {
  max-width: 950px;
  min-width: 230px;
  width: 100%;
  border: 1px solid #000000;
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.standard-plans {
  max-width: 950px;
  min-width: 230px;
  width: 100%;
  border: 1px solid #000000;
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.premium-plan {
  max-width: 950px;
  min-width: 230px;
  width: 100%;
  border: 1px solid #000000;
  font-family: Manrope-Bold;
  font-size: 25px;
  line-height: 30px;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.plans-flex {
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  gap: 13px;
  overflow-x: scroll;
  justify-items: center;
}
.plans-flex::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.Basic-Plan {
  background-color: black;
  color: white;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 7px 0 7px 0;
  margin: 3px;
}
.image-post {
  text-align: center;
  padding: 10px ;
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
}
.price-container {
  background-color: black;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 3px 3px;
}
.price {
  text-align: center;
  font-family: Manrope-ExtraBold;
  font-size: 25px;
  padding: 10px;
}
.month {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
.btn {
  text-align: right;
  padding: 50px 0 0 0;
}
.style-none {
  text-decoration: none;
  color: black;
}
.req{
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 12px 0;
  border-radius: 10px ;
  
  cursor: pointer;
  font-size: 18px;
  font-family: Manrope-SemiBold;


}
.ul-dot{
list-style-type:disc;
padding-left: 20px;
}
.btn-req{
  padding: 30px 10px 0 10px;
}
.pro-padding{
  padding-top: 2px;
}
/* responsive social marketing */
/* @media (min-width: 768px) and (max-width: 1024px) 
   @media screen and (max-width: 1024px) */

@media screen and (max-width: 1024px) {
  .service-flex {
    flex-direction: column;
    gap: 50px;
  }
  .Pricing{
    text-align: center;
  }
  .responsive{
    display: unset;
    display: unset;
    position: sticky;
    /* top: 0; */
    top: 75px;
    border-radius: 10px;
  }
  .service-top-padding {
    padding: 50px 0px 0px 0px;
  }
  .arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
  }
  .servicess {
    max-width: 100%;
    height: auto;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    z-index: 0;
    margin: 0 auto;
    background: #FDEDE7;
    top: 84px;
    border: 1px solid black;
    /* border-radius: 20px; */
  }


  .services {
    max-width: 100%;
    height: auto;
    position: sticky;
    z-index: 0;
    margin: 0 auto;
    background: #f4efef;
    top: 84px;
    display: none;
  }

  .social-media {
    max-width: 100%;
    margin: 0 auto;
  }

  .social-div {
    /* display: flex; */
    text-align: left;
    font-size: 18px;
    padding: 0px 0px 5px 0;
  }

  .our-services {
    font-size: 25px;
    padding: 15px 0;
    line-height: 35px;
    max-width: 100%;
  }

  .marketing-social {
    max-width: 430px;
  }
  .ours-services {
    max-width: 430px;
  }
  .s-marketing {
    font-size: 30px;
    text-align: justify;
   padding-bottom: 15px;
    text-align: center;
    /* line-height: 30px; */
  }

  /* .Promote, .media-marketing, .products, .media-social, .boost, .strategy, .adjustments, .dynamic {
        font-size: 16px;
      } */
  .Promote {
    font-size: 25px;
    padding: 0px;
  }
  .media-marketing {
    font-size: 22px;
  }
  .products {
    font-size: 18px;
    padding: 0;
  }
  .products-copy {
    /* padding: 0 0 15px 0; */
  }
  .choose-us {
    font-size: 30px;
    padding: 30px 0 7px 0;

    text-align: center;
  }
  .media-social {
    font-size: 22px;
  }
  .strategy {
    font-size: 18px;
    font-family: Manrope-Regular;
    text-align: justify;
  }
  .dynamic {
    padding: 0px;
  }
  .basic-plans,
  .standard-plans,
  .premium-plan {
    width: 45vw;
    font-size: 25px;
  }

  .price-container {
    /* padding: 10px 0; */
  }
  .price {
    font-size: 25px;
  }
  .month {
    font-size: 18px;
  }

  .btn {
    text-align: end;
    padding: 50px 0 0 0;
  }
  .underline {
    text-decoration: underline;
  }
}

/* responsive Mobile */
@media screen and (max-width: 767px) {
  .service-flex {
    flex-direction: column;
    gap: 0px;
  }


  .care-about {
    line-height: unset;
    font-size: 16px !important;
}
  .Graphic-about {
        padding: 30px 0 0 !important;
        font-size: 20px !important;
        line-height: unset !important;
}

  .services {
    max-width: 100%;
    height: auto;
    position: static;
    margin: 0 auto;
    text-align: center;
  }

  .social-media {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .social-div {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    /* padding: 15px; */
  }

  .our-services {
    font-size: 18px;
    padding: 10px 0;
    line-height: 30px;
    max-width: 100%;
  }
  .div-flex {
    flex-direction: column-reverse;
  }
  .marketing-social,
  .ours-services {
    max-width: 100%;
    margin: 0 auto;
  }

  .s-marketing {
    font-size: 20px;
    text-align: left;
    padding: 50px 0px 15px;
  }

  /* .Promote,
  .media-marketing,
  .products,
  .media-social,
  .boost,
  .strategy,
  .adjustments,
  .dynamic {
    font-size: 14px;
    text-align: justify;
  } */

  .Promote {
    font-size: 18px;
    text-align: left;
  }

  .media-marketing {
    font-size: 16px;
    text-align: justify;
    padding: 7px 0 2px 0;
  }

  .products {
    font-size: 16px;
    text-align: justify;
    padding: 0;
  }
  .boost {
    font-size: 16px;
    padding: 15px 0px 30px 15px;
  }
  .adjustments {
    font-size: 16px;
    padding: 7px 0px 0px;
  }
  .choose-us {
    font-size: 20px;
    padding: 30px 0px 7px 0px;
  }
  .dynamic {
    font-size: 16px;
  }

  .media-social {
    font-size: 16px;
    text-align: justify;
    padding: 14px;
  }

  .strategy {
    font-size: 16px;
    text-align: justify;
  }

  .basic-plans,
  .standard-plans,
  .premium-plan {
    width: 85vw;
    /* width: 22vw; */
    font-size: 18px;
  }
  .image-post {
    font-size: 16px;
  }
  .price {
    font-size: 18px;
  }
  .price-container {
    /* padding: 8px 0; */
  }

  .month {
    font-size: 16px;
  }

  .btn {
    text-align: center;
    padding: 50px 0 0 0;
  }
  .services {
    max-width: 100%;
    height: auto;
    position: sticky;
    z-index: 0;
    margin: 0 auto;
    background: #f4efef;
    top: 84px;
  }
  .underline {
    text-decoration: underline;
  }
}






.pricing-table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.plan {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan h2 {
  text-align: center;
  margin-bottom: 20px;
}

.plan ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.plan ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.plan ul li:last-child {
  border-bottom: none;
}

.price {
  text-align: center;
  /* margin-top: 20px; */
  font-size: 24px;
  font-weight: bold;
}

.basic {
  background-color: #f9f9f9;
}

.standard {
  background-color: #f0f8ff;
}

.premium {
  background-color: #fffacd;
}
.border-b{

  border: 1px solid black ;
  
  width: 100%;
}
.service-dev{
  display: flex;
  justify-content: space-between;
}
.cursor-pointer{
  cursor: pointer;
}


.destination-flex-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}
.destination-right-about {
  max-width: 670px;
  min-width: 200px;
  width: 100%;
}
.Graphic-about {
  font-size: 48px;
  line-height: 55px;
  font-family: Manrope-ExtraBold;
}
.care-about {
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  font-family: Manrope-Bold;
  padding: 10px 0 0 0;
  max-width: 556px;
  min-width: 200px;
  width: 100%;
  text-align: left;
}
.service-padding-about{
  padding: 5px 0;
}

@media screen and (max-width: 1024px) {
  .destination-right-about {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
  .destination-flex-service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }
  .Graphic-about {
    padding: 30px 0 0;
    font-size: 30px;
    line-height: 40px;
    /* text-align: justify; */
    text-align: left;
  }
  .home {
    padding-bottom: 30px;
  }
  .care-about {
    line-height: unset;
  }
 
}

@media screen and (max-width: 768px) {
  .Graphic-about {
    padding: 30px 0 0;
    font-size: 20px;
    line-height: 27px;
  }
  .care-about {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 20px 0;
    
  }
  .destination-flex-service {
    gap: 30px;
  }
}
